/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
  height: 70px;
  width: 100%;
  background: #131921; /* Amazon dark */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* LOGO */
.logo h2 {
  color: #ff9900;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

/* LINKS */
.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  transition: 0.3s;
  position: relative;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background: #ff9900;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #ff9900;
}

.nav-links li a:hover::after {
  width: 100%;
}

/* AUTH BUTTONS */
.auth-buttons {
  display: flex;
  gap: 12px;
}

.login-btn {
  padding: 8px 15px;
  border: 1px solid #ff9900;
  color: #ff9900;
  text-decoration: none;
  border-radius: 4px;
  transition: 0.3s;
}

.login-btn:hover {
  background: #ff9900;
  color: #131921;
}

.signup-btn {
  padding: 8px 15px;
  background: #ff9900;
  color: #131921;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  transition: 0.3s;
}

.signup-btn:hover {
  background: #e68a00;
}

/* HAMBURGER */
.hamburger {
  display: none;
  font-size: 26px;
  color: white;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 768px) {

  .hamburger {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    left: -100%;
    width: 100%;
    background: #131921;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    transition: 0.3s;
  }

  .nav-links.active {
    left: 0;
  }

  .auth-buttons {
    position: absolute;
    top: 220px;
    left: -100%;
    width: 100%;
    background: #131921;
    flex-direction: column;
    padding: 20px;
    transition: 0.3s;
  }

  .auth-buttons.active {
    left: 0;
  }
}